@import 'vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: $color-bg;
  color: $color-main;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  text-align: center;
}

.add-todo,
.todo-list {
  background-color: $color-grey;
  border: 1px solid $color-grey-dark;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px 20px;
}

.add-todo {
  &__header {
    text-align: center;
  }

  &__block {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__textarea,
  &__title {
    // margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    // :focus {
    //   background-color: red;
    //   border: none;
    // }
  }

  &__types {
  }

  &__add-type {
    display: block;
    margin-bottom: 10px;
    display: flex;

    input {
      display: inline;
      margin-left: 20px;
      border: none;
      border-radius: 5px;
      outline: none;
      padding: 2px 10px;
    }
  }

  &__add-button {
    background-color: $color-main;
    color: $color-white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;

    &:hover {
      background-color: lighten($color-main, 10%);
    }
    &:active {
      background-color: red;
    }
  }
}

.type {
  background-color: $color-main;
  padding: 2px 10px;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
  cursor: pointer;

  button {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    margin-left: 10px;
  }
}

.todo-list {
  &__header {
    text-align: center;
  }
}

.todo-item {
  background-color: $color-bg;
  border: 1px solid $color-grey-dark;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px 20px;

  &--complete {
    background-color: $color-green;
  }

  &__header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__title {
    margin-left: 20px;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__types {
    margin-bottom: 10px;
  }
  &__footer {
    * + * {
      margin-left: 10px;
    }
  }

  &__btn {
    cursor: pointer;

    &:hover {
      color: $color-grey-dark;
      text-decoration: underline;
    }
  }
}
